/* Set the box-sizing model to border-box for all elements in the document. -Paul */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    background-color: #e6ca29;
}

header {
    font-size: 3em;
    background-color: #6f2ab1;
    text-align: center;
    margin: 0;
    padding: 1em;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 8vw;
    color: #eee;
    text-shadow: .1em .05em .1em #333;
    -webkit-text-stroke: 1px #333;
}

nav {
    margin: 0;
    background-color: #1b879d;
}

ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

li {
    padding: 20px;
    display: inline-block;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2vw;
}

a {
    text-decoration: none;
}

section {
    margin: auto;
    width: 60%;
    background-color: #fff;
    padding: 40px;
}

h2 {
    text-align: center;
    font-size: 3vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

img {
    width: 30%;
    min-width: 200px;
    float: left;
    margin: 0 20px 0 0;
}

p {
    font-size: 20px;
}